body {
    padding: 20px;
}
h1 {
    display: inline;
    padding: 20px;
}
header {
  margin-bottom: 30px;
}
.logo {
    width: 48px;
    height: 48px;
}
.logo-link {
    display: inline;
}
#builder, #buttons {
    margin-bottom: 20px;
}